body, html {
  font-family: Futura, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #211951, #15F5BA, #836FFF);
  color: #333;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content {
  text-align: center;
}

.content h1 {
  color: white;
  font-size: 5em;
}

.content a {
  color: white;
  font-size: 2em;
}

.download {
  margin-top: 10em;
}

img {
  width: 15vw;
}
